.navbar {
  display: flex;
  flex-direction: column;
  height: 100vh; // Đặt chiều cao của navbar là 100% chiều cao của viewport
}

.headerNavbar {
  display: flex;
  justify-content: space-evenly;
  padding: 26px 14px;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: white; // Thêm màu nền để tránh bị chồng lên nội dung khác
  z-index: 1;

  .icon {
    fill: #579ad7;
    width: 27px;
    height: 30px;
    flex-shrink: 0;
  }

  .projectListTitle {
    color: #000;
    font-weight: bold;
    display: flex;
    height: 30px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
  }
}

.bodyNavbar {
  display: flex;
  flex-direction: column;
  padding-bottom: 80px;
  gap: 14px;
  overflow-y: auto;
  flex-grow: 1;

  &::-webkit-scrollbar {
      width: 10px;
      border: 2px solid white;
  }
  &::-webkit-scrollbar-track {
      background-color: white;
      border-radius: 30px;
  }
  &::-webkit-scrollbar-thumb {
      background-color: rgb(193, 193, 193);
      border-radius: 30px;
      border: 3px solid white;
  }
  &::-webkit-scrollbar-thumb:hover {
      background-color: rgb(168, 168, 168);
  }
}
